@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.page {
  filter: blur(0);
}

.gradient {
  background: #00a6b0;
  background: linear-gradient(to right, #00a6b0 0%, #050505 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.swiper-pagination {
  --swiper-pagination-color: white;
}

#swiper .arrowNext,
#swiper .arrowPrev {
  visibility: hidden;
}

#swiper:hover .arrowNext,
#swiper:hover .arrowPrev {
  visibility: visible;
}

.arrowNext {
  background-image: url("/src/assets/arrowNext.svg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 1vw;
  width: 50px;
  height: 50px;
  z-index: 40;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.arrowPrev {
  background-image: url("/src/assets/arrowNext.svg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 1vw;
  width: 50px;
  height: 50px;
  z-index: 40;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transform: scaleX(-1) translateY(-50%);
}
